.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1579px;
}

.u-section-1 .u-group-1 {
  margin-top: 82px;
  margin-bottom: 60px;
  min-height: 1424px;
}

.u-section-1 .u-container-layout-1 {
  padding: 8px 0;
}

.u-section-1 .u-line-1 {
  width: 1129px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 121px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 245px;
  height: 67px;
  margin: -67px 906px 0 -11px;
}

.u-section-1 .u-image-2 {
  width: 181px;
  height: 46px;
  margin: -49px 11px 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 38px 331px 0 22px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 11px 697px 0 20px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 14px 697px 0 20px;
}

.u-section-1 .u-form-1 {
  height: 1209px;
  margin: 12px 570px 0 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: -257px 549px 0 47px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-line-1 {
    width: 940px;
    margin-top: 99px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 806px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 106px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 470px;
    margin-left: 47px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 21px;
    margin-right: 470px;
    margin-left: 47px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -247px;
    margin-right: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    min-height: 1429px;
  }

  .u-section-1 .u-line-1 {
    width: 720px;
    margin-top: 129px;
  }

  .u-section-1 .u-image-1 {
    margin-right: auto;
    margin-left: -31px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 32px;
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 255px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 27px;
    margin-right: 255px;
    margin-left: 42px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 350px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -249px;
    margin-right: 198px;
    margin-left: 53px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-bottom: 0;
    min-height: 1499px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 8px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-top: 147px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 14px;
    margin-right: 69px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 30px;
    margin-right: 69px;
    margin-left: 48px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 2px;
    margin-right: 170px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -244px;
    margin-right: 32px;
    margin-left: 48px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1793px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    min-height: 1633px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: 227px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -87px;
  }

  .u-section-1 .u-image-2 {
    width: 147px;
    height: 37px;
    margin-top: -20px;
    margin-right: 4px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 39px;
    margin-right: -45px;
    margin-left: 45px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 40px;
    margin-right: -45px;
    margin-left: 45px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 17px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    margin-top: -255px;
    margin-right: -123px;
    margin-left: 45px;
  }
}